.*
*.o
*.os
*.a
*.so
*.so.*
*~
.sconsign*
*.pyc
*.class
src/mythcat
src/mythfuse
src/mythping
src/cppmythtest
.sconf_temp
config.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
doc
install
cmyth.conf
cmyth/build
src/cmyth_ffi.py
